@{
    ViewBag.Title = "Index";
}

<h2>Menu de Prendas</h2>
<div>
    <ul>
        <li>@Html.ActionLink("Crear Pedido", "Crear", "Pedidos")</li>
        <li>@Html.ActionLink("Agendar Pedido", "Agendar", "Pedidos")</li>
        <li>@Html.ActionLink("Listar Pedidos", "Listar", "Pedidos")</li>
    </ul>
</div>

<div>
    @Html.ActionLink("Back", "Home", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}