@model Ar.UTN.QMP.Web.Models.PrendaModel
@using System.Text;
@using System.Drawing;

@{
    ViewBag.Title = "Listar";
}

<h2>Listar Prendas</h2>

@using (Html.BeginForm("Listar", "Prendas", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.SelectedGuardarropaId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.SelectedGuardarropaId, Model.Guardarropas.Select(c => new SelectListItem { Text = c.Nombre, Value = c.GuardarropaId.ToString() }), " ", new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cargar" class="btn btn-default" />
        </div>
    </div>
    <br />
    <div class="form-group container">
        @if (Model.Prendas != null)
        {
            foreach (var item in Model.Prendas)
            {
                var base64 = Convert.ToBase64String(item.ImagenEnBytes);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                StringBuilder cadena = new StringBuilder();
                foreach (var car in item.Caracteristicas)
                {
                    cadena.Append(car.Clave + ":" + car.Valor + "</br>");
                }

                <div class="form-group col-sm-4">
                    <img title="Caracteristicas" data-toggle="popover" data-content="@cadena" src="@imgSrc"/>
                </div>
            }
        }
    </div>
}

<div class="col-md-12">
    @Html.ActionLink("Back", "Index", "Prendas")
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            html: true
        });
    });
</script>